/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

/* Estilo mejorado para la tabla */
/* Cambio de color de fondo solo para la tabla */
table {
    width: 80%; /* Centrar horizontalmente y agregar márgenes */
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #f8f8f8; /* Cambia el color de fondo de la tabla */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centrar horizontalmente y agregar márgenes */
}


th, td {
    padding: 12px 15px;
    border: 1px solid #ccc;
    text-align: left;
}

/* Cambiar color de fondo de la cabecera de la tabla a negro */
th {
    background-color: #000;
    color: #fff; /* Cambiar color del texto a blanco para mayor legibilidad */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para resaltar la primera columna */
td:first-child {
    font-weight: bold;
}

/* Estilo para resaltar al pasar el ratón */
tr:hover {
    background-color: #e0e0e0;
}


a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

/* Estilos para el campo de búsqueda */
form {
    text-align: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

#search {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para el botón de exportar a Excel */
.export-button {
    display: inline-block; /* Cambiado a inline-block para estar en la misma línea */
    margin-top: 20px;
    margin-left: 200px; /* Separación entre el campo de búsqueda y el botón */
    padding: 8px 12px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    width: 150px;
}

/* Estilos para los botones */
.delete-button,
.edit-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #dc3545; /* Color rojo */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 5px;
    height: auto;
    font-size: 12px;
}

/* Estilos específicos para el botón "Modificar" */
.edit-button {
    background-color: #007bff; /* Color azul */
}
